einops==0.4.1
blobfile==1.2.7
timm==0.4.12
opencv-python==4.5.4.60
scipy==1.7.3
pillow==9.5.0
pyyaml
json_tricks
yacs
scikit-learn
pandas
numpy==1.23.5
fvcore
transformers==4.19.2
sentencepiece
ftfy
regex
nltk
vision-datasets==0.2.2
diffdist
pyarrow
cityscapesscripts
shapely
scikit-image
mup
gradio==3.13.0
scann
kornia==0.6.4
torchmetrics==0.6.0
mpi4py
pycocotools